@charset "UTF-8";
*{
	color : red;
}

h3{
	color : blue;
}
#t1{
	color : lime;
	border: green 5px dotted;
}
.c1{
	color : black;
}
h1{
	font-size: 100px;
	
	/* border-top */
	border-top-color: black;
	border-top-width: 3px;
	border-top-style: solid;
	
	/* border-right */
	border-right-color: pink;
	border-right-width: 2px;
	border-right-style: dashed;
	
	/* border-bottom */
	border-bottom: rgb(128, 0, 255) dotted 3px;
	
}
/* #t3, h2{
	font-size: 50px;
}
 */
.c2{
	
	font-size: 30px;
}

#circle{
	border: 5px solid red;
	width: 200px;
	height: 200px;
	border-radius: 10px 40px 10px 40px;
}